* {
  box-sizing: border-box;
}

body {
  font-family: Outfit, sans-serif;
}
.card {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 325px;
  height: 500px;
}

.qr-code {
  width: 285px;
  height: 285px;
}

.card-text {
}
/* Default style for Frontend Mentors */
/* Feel free to remove these styles or customise in your own stylesheet 👍  */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
